.title {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: lightgray;
}

.container {
    justify-content: center;
    align-items: center;
}

.main {
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form {
    padding: 1rem;
}

.btn {
    padding: 0.5rem;
    align-content: center;
    background-color: gray;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: lightblue;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.navbar-nav {
    display: flex;
    justify-content: left;
    align-items: left;
}

.table {
    padding: 1rem;
    margin: 1rem;
    border: black;
}

.fa-trash:hover {
    color: red;
}

.fa-edit:hover {
    color: blue;
}